# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.mypy_cache/
.pytest_cache/
.dmypy.json
dmypy.json

# Frontend
frontend/dist/
frontend/build/
frontend/.DS_Store

# Backend
backend/dist/
backend/build/
backend/.DS_Store

# IDE
.idea/
.vscode/
*.swp
*.swo
